@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
body {
  text-align: center;
  background-image: url("assists/landing_image/landing\ pic.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}
a {
  text-decoration: none;
  color: #eff1f3;
}
a:link {
  color: #eff1f3;
}
button {
  width: 100%;
  background-color: #151515;
  border: none;
  font-size: 24px;
  padding: 16px;
  border-radius: 12px;
}
.title {
  text-transform: capitalize;
  font-weight: bold;
  color: #f58d06;
  font-size: 64px;
  font-family: "Berkshire Swash", cursive;
}
.input-field{
  display: flex;
  flex-direction: row;
  gap: 8px;

}
.landContainer , form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 450px;
  gap: 16px;
}
input::placeholder {
  font-size: 15px;
  color: #000;
  font-weight: bold;
  border: none;
  text-align: start;
}

select{
  width: 100%;
  padding: 20px 8px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
}

input {
  width: 94.5%;
  padding: 20px 8px;
  font-size: 12px;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 12px;
}
@media (max-width: 600px) {
  .landContainer , form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    gap: 16px;
  }
  input::placeholder {
    font-size: 12px;
    color: #000;
    font-weight: bold;
    border: none;
    text-align: center;
  }
  .title {
    text-transform: capitalize;
    font-weight: bold;
    color: #f58d06;
    font-size: 48px;
    font-family: "Berkshire Swash", cursive;
  }
}
@media (max-width: 900px) {
  .landContainer , form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 450px;
    gap: 16px;
  }
  input::placeholder {
    font-size: 15px;
    color: #000;
    font-weight: bold;
    border: none;
    text-align: start;
  }
  .title {
    text-transform: capitalize;
    font-weight: bold;
    color: #f58d06;
    font-size: 55px;
    font-family: "Berkshire Swash", cursive;
  }
}

#loading {
  margin: 0;
  display: grid;
  place-items: center;
  /* position: fixed; */
  width: 100%;
  height: 100%;
  background: #fff no-repeat;
  z-index: 99999;
}
.pl {
  display: block;
  width: 9.375em;
  height: 9.375em;
}

.pl__arrows,
.pl__ring-rotate,
.pl__ring-stroke,
.pl__tick {
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.pl__arrows {
  animation-name: arrows42;
  transform: rotate(45deg);
  transform-origin: 16px 52px;
}

.pl__ring-rotate,
.pl__ring-stroke {
  transform-origin: 80px 80px;
}

.pl__ring-rotate {
  animation-name: ringRotate42;
}

.pl__ring-stroke {
  animation-name: ringStroke42;
  transform: rotate(-45deg);
}

.pl__tick {
  animation-name: tick42;
}

.pl__tick:nth-child(2) {
  animation-delay: -1.75s;
}

.pl__tick:nth-child(3) {
  animation-delay: -1.5s;
}

.pl__tick:nth-child(4) {
  animation-delay: -1.25s;
}

.pl__tick:nth-child(5) {
  animation-delay: -1s;
}

.pl__tick:nth-child(6) {
  animation-delay: -0.75s;
}

.pl__tick:nth-child(7) {
  animation-delay: -0.5s;
}

.pl__tick:nth-child(8) {
  animation-delay: -0.25s;
}

/* Animations */
@keyframes arrows42 {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(405deg);
  }
}

@keyframes ringRotate42 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(720deg);
  }
}

@keyframes ringStroke42 {
  from,
	to {
    stroke-dashoffset: 452;
    transform: rotate(-45deg);
  }

  50% {
    stroke-dashoffset: 169.5;
    transform: rotate(-180deg);
  }
}

@keyframes tick42 {
  from,
	3%,
	47%,
	to {
    stroke-dashoffset: -12;
  }

  14%,
	36% {
    stroke-dashoffset: 0;
  }
}
