@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  user-select: none;
}
header {
  margin-bottom: 8rem;
  color: white;
}
.contact {
  margin-top: 3rem;
  text-align: center;
  font-size: 160px;
  text-transform: uppercase;
  font-family: "Poppins";
}
.ul a {
  display: none;
}
.user {
  text-transform: capitalize;
}
.cardMainImg {
  width: 100%;
  height: 40rem;
  margin-top: -4rem;
}
.topText {
  display: flex;
  flex-direction: column;
  margin: 26px;
  line-height: 45px;
}
.topText-D {
  font-size: 70px;
  font-family: "Poppins";
  color: #000000;
}
.topText-p {
  font-size: 20px;
  color: grey;
  font-family: "Roboto";
}
.mainCardContent {
  background-color: #ffffff;
  margin: 0rem 16px;
  padding: 16px;
  position: relative;
  margin-top: -26rem;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px 0px;
  z-index: 1;
}
.textContent {
  padding: 16px 0;
}
.cardContent {
  font-size: 36px;
  font-family: "Roboto";
  color: #000000;
  font-weight: bold;
  text-transform: capitalize;
}
.cardContentS {
  font-size: 26px;
  font-family: "Roboto";
  color: grey;
  margin: -16px 0 16px 0;
}
.cityCardMain {
  display: grid;
  grid-template-rows: repeat(3, 800px);
  grid-template-columns: repeat(4, auto);
  gap: 30px 16px;
}
.cardItem {
  padding: 29rem 16px 16px 16px;
  border-radius: 24px;
  font-size: 18px;
  background: url(assists/winterPic/sawat.jpg);
  background-size: cover;
  transition: all 0.3s ease;
  box-shadow: 0px -80px 150px 1px rgba(0, 0, 0, 5) inset;
}
.cardItem:hover {
  transform: translateY(-20px);
}
.cardText {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  margin-top: 13rem;
}
.cardText a {
  color: #ffffff;
  text-decoration: none;
}
.mainCountry {
  font-size: 38px;
  font-family: "Poppins";
}
.feedback {
  background: url(assists/landing_image/landing\ pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8rem 0px 0 0;
  padding: 12rem 16px;
  box-shadow: inset 0px -105px 50px 0px white;
}
.text {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.travel {
  font-size: 89px;
  font-family: "Poppins";
  text-transform: capitalize;
  margin: 0;
}
.touch {
  margin: 0;
  font-size: 20px;
  font-family: "Poppins";
  text-transform: uppercase;
}
.page {
  background-color: white;
}
.pagetop {
  text-align: center;
}
.page-heading {
  font-size: 100px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 0px;
  margin: 0;
}
.page-d {
  font-size: 24px;
  color: gray;
}
.page img {
  width: 100%;
  height: 500px;
}
.page-heading-2 {
  font-size: 50px;
  font-family: "Roboto";
  color: #000;
  padding: 0px;
  margin: 30px;
}
.page-matter {
  margin: 30px;
  font-size: 30px;
}
.page-det p {
  border-top: 2px solid rgb(194, 194, 194);
  font-size: 20px;
  margin: 30px;
  padding: 50px;
}
.page-gallery {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, auto);
}
.page-gallery img {
  border-radius: 20px;
  text-align: center;
}

.page-det-2 {
  margin: 30px;
}
.page-det-2 span {
  background-color: rgb(73, 162, 214);
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  box-sizing: 30px;
  border-radius: 10px;
}
.city-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin: 2rem;
}
.days {
  background-color: #00b9f3;
  padding: 12px 16px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  border-radius: 8px;
  font-weight: normal;
  margin-right: 20px;
}
.days2 {
  color: #2bb809;
  font-size: 24px;
  margin-right: 20px;
}
.gallery {
  margin: 0 2rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: 16px;
}
.galleryPic img {
  height: 250px;
  border-radius: 16px;
}
.day1 {
  font-size: 20px;
  color: gray;
}
.boxDetail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  color: #000000;
  margin: 0 46px ;

}
.boxContent {
  font-size: 22px;
  padding: 26px 0;
}
.boxContent li::marker {
  content: "✔";
  color: green;
}
.text {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.travel {
  font-size: 89px;
  font-family: "Poppins";
  text-transform: capitalize;
  margin: 0;
}
.touch {
  margin: 0;
  font-size: 20px;
  font-family: "Poppins";
  text-transform: uppercase;
}
.email {
  width: 400px;
  padding: 22px;
  font-size: 20px;
  color: black;
  border: 2px solid #fff;
  margin-right: -10px;
  border-radius: 40px 0 0 40px;
}
.button1 {
  border: none;
  background-color: #00b9f3;
  text-decoration: none;
  padding: 24px 44px;
  font-size: 20px;
  color: #fff;
  border-radius: 0 40px 40px 0;
  cursor: pointer;
}
@media (max-width: 900px) {
  .cityCardMain {
    grid-template-rows: repeat(4, 600px);
    grid-template-columns: repeat(3, auto);
  }
  .mainCountry {
    font-size: 28px;
    font-family: "Poppins";
  }
  .cardText {
    margin-top: 2rem;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(1, auto);
    gap: 8px;
  }
  .galleryPic img {
    height: 250px;
    border-radius: 16px;
  }
  .feedback {
    display: flex;
    flex-direction: column;
  }
  .contact {
    margin-top: 3rem;
    font-size: 83px;
  }
}
@media (max-width: 600px) {
  .contact {
    margin-top: 6rem;
    font-size: 48px;
  }
  .cityCardMain {
    grid-template-rows: repeat(0, 300px);
    grid-template-columns: repeat(1, auto);
  }
  .mainCountry {
    font-size: 28px;
    font-family: "Poppins";
  }
  .cardText {
    margin-top: 2rem;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(auto, auto);
    gap: 8px;
  }
  .galleryPic img {
    height: 250px;
    border-radius: 16px;
  }
  .feedback {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .travel {
    font-size: 45px;
  }
  .touch {
    font-size: 14px;
  }
  .email {
    width: 350px;
    padding: 16px;
    font-size: 16px;
    margin-right: 0px;
    border-radius: 24px;
  }
  .button1 {
    width: 350px;
    margin-top: 8px;
    padding: 16px;
    font-size: 16px;
    border-radius: 24px;
  }
}
